* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body {
  background-color: white;
}

#body {
  width: 960px;
  margin: 0 auto;
}

#header {
  height: 150px;
  background-color: blue;
}

#menu {
  height: 50px;
  background-color: palevioletred;
}

#menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

#menu ul li a {
  text-decoration: none;
  color: white;
  font-style: 20px;
  display: block;
  line-height: 50px;
}

#menu ul li a:hover {
  color: red;
  text-decoration: underline;
}

#slide {
  height: 35px;
}

#slide p {
  line-height: 35px;
  font-style: 20px;
  color: red;
}

#content {
  height: 600px;
  background-color: aqua;
}

#left {
  width: 250px;
  height: 100%;
  background-color: violet;
  float: left;
}

.title {
  height: 50px;
  background-color: blueviolet;
}

.left h2 {
  text-align: center;
  color: white;
  line-height: 50px;
}

#left ul li {
  list-style: none;
  display: block;
  padding-left: 20px;
  line-height: 40px;
}

#left ul li a {
  text-decoration: none;
}

#left ul li:hover {
  background-color: aqua;
  border-bottom: 1px solid gray;
}

.form {
  padding: 15px 10px;
}

#noidung {
  width: 500px;
  height: 100%;
  float: left;
  padding: 10px 20px;
}

.noidung1 {
  height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 15px;
}

#right {
  width: 210px;
  height: 100%;
  background-color: brown;
  float: left;
}

#right h2 {
  text-align: center;
  color: white;
  line-height: 50px;
}

#right ul li {
  list-style: none;
  padding-left: 20px;
  line-height: 50px;
}

#right ul li a {
  text-decoration: none;
}

#right ul li:hover {
  background-color: aqua;
  border-bottom: 1px solid gray;
  /* color: #ff0000;
    text-decoration: underline; */
}

#footer {
  height: 100px;
  background-color: gray;
}
