* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body {
  background-color: white;
}

#body {
  width: 1080px;
  margin: 0 auto;
}

#banner {
  margin: 10px 0 10px 0;
  height: 250px;
  background-color: blue;
}

#banner img {
  width: 1080px;
  height: 250px;
}

#menu {
  height: 50px;
  background-color: #392ed3;
}

#menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

#menu ul li a {
  text-decoration: none;
  color: white;
  font-style: 20px;
  display: block;
  line-height: 50px;
}

#menu ul li a:hover {
  color: red;
  text-decoration: underline;
}

#content {
  height: 600px;
  background-color: white;
}

#left {
  border: solid gray;
  width: 250px;
  height: 100%;
  background-color: whitesmoke;
  float: left;
}

.title {
  height: 50px;
  background-color: blue;
}

#left h2 {
  text-align: center;
  color: white;
  line-height: 50px;
}

#left ul li {
  list-style: none;
  display: block;
  padding-left: 20px;
  line-height: 40px;
}

#left ul li a {
  text-decoration: none;
}

#left ul li:hover {
  background-color: yellowgreen;
  color: red;
  text-decoration: underline;
}

.form {
  padding: 15px 10px;
}

#noidung {
  border: 5px solid gray;
  width: 830px;
  height: 100%;
  float: left;
  padding: 10px 20px;
}

.col2th {
  flex: 0 0 30%;
  max-width: 30%;
  float: left;
  margin: 10px;
}

.card img {
  width: 100%;
}

p {
  margin: 5px;
}

.ten {
  color: #464444;
}

.gia {
  color: red;
}

footer {
  width: 100%;
  background-color: #24A19C;
  color: white;
}
 
footer .footer-item{
  width: 30%;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

footer .footer-item h3{
  margin: 20px 0;
}

footer .link a{
  display: block;
  text-decoration: none;
  color: white;
  margin: 10px 0;
  margin: 3px 0;
}

.tacgia{
  background-color: #24A19C;
  color: white;
  text-align: center;
  padding: 10px;
}