* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#main {
    
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: black;
}

#header .top-header {
    width: 100%;
    height: 80px;
    background-color: white;
}

#header .top-header img {
    margin: 5px;
    margin-left: 100px;
    width: 300px;
    float: left;
}

#header .top-header input[type=text]{
  padding: 10px;
  margin-top: 20px;
  margin-left: 50px;
  border: none;
  font-size: 17px;
  border: 1px solid #24A19C;
}

#header .nav {
    list-style: none;
    box-shadow: 0 0 2px gray;
    background-color: blue;
    text-align: center;
}

#header .nav ul li{
    display: inline-block;
    
    font-variant: small-caps;
}

#header .nav ul li a{
    display: block;
    font-size: large;
    text-decoration: none;
    color: white;
    padding: 15px;
}

#header .nav ul li a:hover{
    background-color: #24A19C;
}

#banner {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}

#banner img{
    max-width: 100%;
    border-radius: 30px;
}

#content {
    
    background-color: white;
}

#content .heading {
    font-style: 20px;
    color: #24A19C;
    text-align: center;
    margin: 40px 0;
    z-index: 2;
    display: block;
}

#content .list-product{ 
   text-align: center;
   display: flex;
   justify-content: center;
}


#content .list-product .product {
    box-shadow: 0 0 5px gray;
    margin:10px;
    padding: 10px;
     width: 20%;
    float: left;
    text-align:center; 
}

#content .list-product .product img{
    max-width: 98%;
    height: 150px;
}

#content .list-product .product .price {
    color: red;
}

.tintuc .heading{
    font-style: 20px;
    color: #24A19C;
    text-align: center;
    margin: 40px 0;
    z-index: 2;
    display: block;
}

.tintuc .nav-item{
    width: 30%;
    margin: 20px;
    display: inline-block;
}

.tintuc .nav-item img{
    max-width: 100%;
}

#footer {
    width: 100%;
    background-color: #24A19C;
    color: white;
  }
   
  #footer .footer-item{
    width: 30%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #footer .footer-item h3{
    margin: 20px 0;
  }
  
  #footer .link a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px 0;
    margin: 5px 0;
  }