* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#main {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: black;
}

#header .top-header {
  width: 100%;
  height: 80px;
  background-color: white;
}

#header .top-header img {
  margin: 5px;
  margin-left: 100px;
  width: 300px;
  float: left;
}

#header .top-header input[type="text"] {
  padding: 10px;
  margin-top: 20px;
  margin-left: 70px;
  border: none;
  font-size: 17px;
  border: 1px solid #24a19c;
}

#header .top-header .login {
  position: absolute;
  top: 30px;
  right: 0;
}

#header .top-header .login a {
  text-decoration: none;
  margin: 0 20px;
  padding: 26px;
  font-size: 20px;
}

#header .top-header .login a:hover {
  background-color: #24a19c;
}

#header .nav {
  list-style: none;
  box-shadow: 0 0 2px gray;
  background-color: blue;
  text-align: center;
}

#header .nav ul li {
  display: inline-block;
  position: relative;
  font-variant: small-caps;
}

#header .nav ul li a {
  display: block;
  font-size: large;
  text-decoration: none;
  color: white;
  padding: 15px;
}

#header .nav ul li a:hover {
  background-color: darkcyan;
}

#header .nav ul ul {
  position: absolute;
  display: none;
}

#header .nav ul ul a {
  display: block;
}

#header .nav ul li:hover ul {
  display: block;
  background-color: #24a19c;
}

#content {
  margin: 140px 50px 20px;
  margin-left: 70px;
  width: 100%;
  height: 6300px;
}

#content .tieuDe {
  margin: 10px;
  color: red;
  font-weight: bold;
}

#content .sanPham {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 1px black;
  padding: 25px;
  float: left;
}

#content .sanPham img {
  width: 350px;
  height: 250px;
}

#content .thongTinSP {
  width: 700px;
  height: 500px;
  margin-left: 50px;
  float: left;
}

#content .thongTinSP .tieuDe {
    color: gray;
    font-size: 24px;
    font-weight: bolder;
    margin: 10px;
}

#content .thongTinSP .gia{
    padding: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#content .thongTinSP .tieuDeCon {
    color: red;
    margin: 10px;
}

#content .thongTinSP .thongTin {
    padding: 10px;
    box-shadow: 0 0 5px black;
}

#content .thongTinSP .button-form {
    margin: 20px;
}

#content .thongTinSP .button-form .button{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: red;
    color: white;
    float: right;
    margin: 10px;
}

#content .moTaSanPham {
    width: 900px;
    /* background-color: purple; */

    float: left;
    box-shadow:  0 0 1px black;
    margin-top: 30px;
    padding: 5px;
  }

#content .moTaSanPham .tenMuc{
  margin: 15px 10px 15px;
  font-weight: bolder;
  font-size: 16px;
}

#content .youtube {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

#content .sanPhamBanChay {
    width: 300px;
    /* background-color: yellow; */

    /* box-shadow: 0 0 5px black; */
    margin: 5px;
    margin-top: 30px;
    float: left;
}

.sanPhamBanChay .tieuDe {
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

.sanPhamBanChay .sanPhamBC {
  box-shadow: 0 0 5px black;
  padding: 5px;
  margin: 10px;
  padding: 10px;
}

.sanPhamBanChay .sanPhamBC img {
  width: 250px;
  height: 150px;
}

.sanPhamBanChay .sanPhamBC .thongTin{
  color: gray;
}

.sanPhamBanChay .sanPhamBC .gia {
  color: red;
}

#footer {
  height: 180px;
  width: 100%;
  background-color: #24a19c;
  color: white;
}

#footer .footer-item {
  width: 30%;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

#footer .footer-item h3 {
  margin: 20px 0;
}

#footer .link a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 10px 0;
  margin: 5px 0;
}
